
	body{background-image:url("https://media.giphy.com/media/l3vQZbDGJYElf6eQg/giphy.gif") ;}
	p{color: green;
	   font-size:200%;
	   font-family:verdana;
	   padding:20px;
	    border:1px;
	    margin:1px;}

